{% extends "layout.html" %}

{% block title %} Examples {% endblock %}
{% block body %}
<h1> Ideal posture example</h1>
<center>
<img src="../static/images/sample_image.jpg" alt="ideal posture" style="width:500px;height:300px;">
<h1> Ideal posture reference</h1>
<img src="../static/images/ideal_posture_ref.jpg" alt="ideal ref" style="width:300px;height:400px;">
<h1> Bad posture example</h1>
<img src="../static/images/sample_image.jpg" alt="ideal posture" style="width:500px;height:600px;">
<h1> Bad posture reference</h1>
<img src="../static/images/bad_posture_ref.jpg" alt="bad ref" style="width:300px;height:300px;">
<center>

{% endblock %}
