{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}
  <form action="submit">
    <input class="btn btn-secondary" type="submit" value="run detection" />
  </form>
  <br>
  <button class="btn btn-secondary">
    Please <a class="hoverline" href="/login" style="color: blue;">log in</a> to view your stats/notifications
  </button>

  <center>
    <h1> Your progress</h1>
    <p> Current streak: {days} days!</p>
    <p> Your posture over the past 7 days: {status}</p>
  </center>
{% endblock %}
